/* global */

*{
    box-sizing: border-box;
    margin: 0;    
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #f6f8f9;
}

/* header */

header{
    background-color: white;
    padding: 15px 0 10px 30px;
}

#logo{
    line-height: 50px;
    vertical-align: bottom;
}

.titolo{
    font-size: 40px;
}

h1 , h2{
    display: inline-block;
}

h2{
    margin-bottom: 10px;
}

/* main */
main{
    padding-left: 20%;
    padding-right: 20%;
}

.actions{
    background-color: white;
    height: 70px;
    margin-top: 50px;
    text-align: left;
    border-radius: 7px 7px 0 0;
    line-height: 70px;
    padding-left: 70px;
}

button{
    border-style: none;
    border-radius: 5px;
    height: 50%;
    padding-left: 20px;
    padding-right: 20px;
    cursor:pointer
    
}

.blue-b{
    background-color:#47adf1;
    color: white;
    transition-duration: 0.4s;
}

.white-b{
    background-color: white;
    color: lightgray;
    border: 1px solid lightgray;
    transition-duration: 0.4s;
}

/* animazioni */
.blue-b:hover{
    background-color: white;
    border: 1px solid #47adf1;
    color:#47adf1;
}

.white-b:hover{
    background-color: #8dcd62;
    border: 1px solid #8dcd62;
    color:white;
}

/* fine animazioni */

/* inizio liste */

.container{
    background-color: white;
    margin-top: 3px;
    
    width: 100%;
    padding-left: 30px;
    padding-top: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 50px;
}

ul{
    margin-bottom: 40px;
    list-style-type: none;
}

li{
  font-weight: 600;
  margin-bottom: 20px;
  
}

.check::before{
    content: "\2713";
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 3.5px;
}

.cross::before{
    content: "\2715";
    margin-right: 10px;
    margin-left: 3.5px;
}

.round{

    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    display: inline-block;
    line-height: 22px;
    
}

.r-border{
    border: 1px solid red;
    color: red;
}

.g-border{
    border: 1px solid #65c0a9;
    color: #65c0a9;
}

.label{
    height: 30px;
    font-weight: 400;
    font-size: 13px;
    display: inline-block;
    border-radius: 15px;
    color: white;
    padding: 5px 10px 5px;
    line-height:23px ;
    vertical-align: baseline;
    margin-left: 30px;
}

/* tipi di label */

.cyan{
    background-color: #45abea;
}

.violet{
    background-color: #9c72e4;
}

.green{
    background-color:#64c0a9 ;
}

.orange{
    background-color:#f29e33 ;
}

.magenta{
    background-color:#d863a1 ;
}

.yellgreen{
    background-color:#b0c926 ;
}